.navBar {
  height: initial;
}
.services_container {
  margin-bottom: 100px;
  margin-top: 100px;
}

.scroll_ctn {
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
section {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  scroll-snap-align: start;
}
.srv_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #3af6ff;
}

.srv_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.card_srv_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 80px 10px 30px 10px;
  height: 100%;
}
.card_srv_cont_inv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 30px 10px 30px 10px;
  height: 450px;
}
.card_srv_info {
  max-width: 1200px;
  margin: 0 50px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.card_srv_info_inv {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 20px 5px 5px;
}
.srv_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.srv_icon img {
  height: 100%;
  width: 500px;
}
.title_srv {
  color: rgba(185, 4, 139, 0.9154228855721394);
  font-size: 38px;
  font-weight: bold;
}
.sub_d {
  color: white;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
  font-size: 28px;
}
.des_1d,
.des_2d {
  font-size: 28px;
  margin-top: 20px;
  color: rgb(192, 192, 192);
}
.des_3d {
  color: #3af6ff;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .srv_cards {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .slider_cards {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .srv_title h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  .services_container {
    margin-top: 20px;
  }
}

@media (max-width: 386px) {
  .srv_title h1 {
    font-size: 30px;
  }
}

.footer-services {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 300px;
}
