.cartContainer {
  padding: 20px;
  background-color: black;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: absolute;

  right: 0;
  width: 300px;
  height: 200px;
}

.cartContainer h2 {
  text-align: center;
  margin: 0;
  font-size: 24px;
}

.cartContainer .closeCart {
  width: 100%;
  cursor: pointer;
  text-align: end;
  margin: 0;
}
.cartContainer .total {
  display: flex;
  justify-content: space-between;
}
.cartItem {
  display: flex;
  justify-content: space-between;
}
.cartItem img {
  width: 50%;
}
.cartItem p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}

.cartContainer button {
  margin-top: 0px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.cartContainer .cartItem,
.cartContainer .cartItem p,
.cartContainer .total {
  align-items: center;
  margin: 5px auto;
  width: 100%;
}

@media (min-width: 1024px) {
  .cartContainer {
    height: 600px;
  }
}
