.ourServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 200px auto 0;
}

.ourServices p{
  font-size: 24px;
}

.ctn-servicios {
  width: 100%;
  justify-content: center;
  align-items: center;
}
