.card_ctn {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  justify-content: center;
  margin-right: 92px;
  margin-left: 92px;
}
.res_cart {
  margin: 260px 0 0 -330px;
  display: flex;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  background: none;
  border: none;
  text-decoration: none;
}
.res_cart .price {
  color: white;
}
.res_cart .detalles {
  color: white;
  margin-left: 10px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.res_description {
  margin-left: 30px;
}
.cart {
  display: flex;
  position: absolute;
  margin: 13px 20px 20px 12px;
  width: 20%;
}
.card_res_ctn {
  display: flex;
  justify-content: center;
}
.title_res {
  position: relative;
  color: white;
  text-align: center;
  margin: 25px auto 0 auto;
  font-size: 22px;
  font-weight: bold;
  width: 150px;
}
.card_res {
  display: flex;
  flex-direction: column;
  /*border-radius: 30% 0% 30% 0%;*/
  border-radius: 30% 0% 30% 0%;
  min-width: 150px;
  width: 300px;
  height: 300px;
  background: linear-gradient(rgba(58, 246, 255, 0.2) 30%, rgba(185, 4, 139, 0.2) 60%);
}

.res_description {
  font-weight: bold;
  color: white;
  margin: 25px auto 0 auto;
}
.res_img {
  display: flex;
  justify-content: center;
  width: 180px;
  height: 160px;
}

.arrow_res {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}
.arrow_r {
  position: relative;
  width: 25px;
}
@media (max-width: 1024px) {
  .card_res {
    width: 260px;
    height: 240px;
  }
  .res_img {
    width: 140px;
    height: 120px;
  }
  .res_description {
    margin: 5px auto 0 auto;
  }
  .res_cart {
    margin: 200px 0 0 -290px;
  }
  .title_res {
    margin: 25px auto 0 auto;
  }
}

@media (max-width: 450px) {
  .title_res {
    margin: 15px auto 0 auto;
    font-size: 18px;
  }
  .card_res {
    width: 240px;
    height: 240px;
  }
  .res_cart {
    margin: 180px 0 0 -260px;
  }

  .res_description {
    font-weight: bold;
    color: white;
    margin: 5px auto 0 auto;
  }
}
