.blogs_container {
  margin-top: 50px;
  margin-left: 20px;
}
.sidebar a {
  margin-left: 10px;
  font-weight: bold;
  color: white;
  font-size: 35px;
  text-decoration: none;
  display: flex;
}
.sidebar .blogs {
  display: flex;
  width: 90%;
  height: 100%;
  text-decoration: none;
  background: rgb(80, 77, 77);
  margin: 25px 0 25px 0;
}
.sidebar {
  overflow: scroll;
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 100%;
  background-color: #b9b6b618;
  left: 0;
}

.open_btn {
  display: block;
  margin: 15px;
  cursor: pointer;
}
.close_btn_container {
  position: absolute;
  right: 0;
  margin: 10px;
  cursor: pointer;
  background: none;
}
.close_btn {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.bar_show,
.bar_op {
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
  display: flex;
  opacity: 0.8;
  background-color: black;
}

.bar_op {
  transform: translateX(-200%);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: rgb(80, 77, 77);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .bar_show,
  .bar {
    width: 60%;
  }
}
