.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 200px;
}

.main-container h1 {
  color: aqua;
}
.our-products {
  color: #eb39d9;
}

.main-product {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 30px 0px;
  border-radius: 30% 0% 30% 0%;
  width: 100%;
  position: relative;
  transition: transform 0.5s ease;
}

.product-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  perspective: 1000px;
  transition: transform 0.5s;
}

.flipped .product-inner {
  transform: rotateY(180deg);
  /* Rotar la tarjeta 180 grados en el eje Y cuando esté volteada */
}

.product-front {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 30px 0px;
  border-radius: 30% 0% 30% 0%;
  width: 250px;
  min-height: 250px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(58, 246, 255, 0.2) 30%,
    rgba(185, 4, 139, 0.2) 60%
  );
}

.carrito-img {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    left: 0px;

}

.product-back {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 30px 0px;
  border-radius: 30% 0% 30% 0%;
  width: 250px;
  min-height: 250px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(58, 246, 255, 0.2) 30%,
    rgba(185, 4, 139, 0.2) 60%
  );
  color: white;
}

.hidden {
  display: none;
  /* Oculta el contenido de la tarjeta que no está visible */
}

.product img {
  border-radius: 10px;
}

.product-img {
  height: 150px;
  width: 150px;
}

.main-product.flipped {
  transform: rotateY(180deg);
  /* Gira toda la tarjeta cuando está volteada */
}

.product-price .price {
  color: rgba(185, 4, 139, 0.9154228855721394);
  font-weight: 700;
}

.product-price .carrito-price {
  color: #3294bc;
  font-weight: 700;
  cursor: pointer;
}

@media (min-width: 768px) {
  .main-product {
    width: 50%;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 100px;
  }

  .carrito-img {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    left: 100px;

}
}

@media (min-width: 992px) {
  .main-product {
    width: 30%;
    display: block;
  }
  .carrito-img {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    left: 160px;

}
}

@keyframes rotateFlip {
  0% {
    transform: rotateY(0deg) scaleX(1);
  }
  50% {
    transform: rotateY(90deg) scaleX(0.8);
  }
  100% {
    transform: rotateY(0deg) scaleX(1);
  }
}

.product-inner.flipped {
  animation: rotateFlip 0.5s;
}

@keyframes rotateFlipReturn {
  0% {
    transform: rotateY(0deg) scaleX(1);
  }
  50% {
    transform: rotateY(90deg) scaleX(0.8);
  }
  100% {
    transform: rotateY(0deg) scaleX(1);
  }
}

.product-inner:not(.flipped) {
  animation: rotateFlipReturn 0.5s;
}
