.title-first{
    color: #3AF6FF;
}
.sub-first{
    color:#EB39D9;
}

.sub-second{
    color: white;
}

.section-1, .section-2 p{
    color: white;
}

.ctn-servicios{
    width: 80%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.animate__fadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  