.contact_button_ctn {
  position: fixed;
}
.BlogPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.blogTitle {
  text-align: center;
  margin-top: 120px;
  color: aqua;
}

.postContainer {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 20%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainerblog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card-blog {
  display: flex;
  flex-direction: column;
  border-radius: 30% 0% 30% 0%;
  width: 320px;
  height: 320px;
  background: linear-gradient(rgba(58, 246, 255, 0.2) 30%, rgba(185, 4, 139, 0.2) 60%);
  padding: 20px;
}

.card-blog p {
  color: white;
  font-size: 18px;
}

.titleblog {
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.lateralBar {
  background-color: rgba(255, 255, 255, 0.2);
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
}

hr {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
}

@media (min-width: 375px) {
  .postContainer {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .postContainer .cardContainerblog .card-blog {
    width: 130px;
    height: 150px;
    padding: 0;
    margin-top: 10px;
  }
  .card-blog .cardTextblogContainer {
    font-size: 12px;
  }
  .card-blog h3 {
    font-size: 15px;
  }
  .card-blog .viewButton {
    background: none;
    border: none;
    cursor: pointer;
  }
  .lateralBar {
    position: initial;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lateralBar .lateralContainer {
    margin-top: 10px;
  }
  .ctn .CTN_ctn2 {
    margin: 0;
  }
  .footer-blog {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .footer-blog .footer_container {
    position: relative;
  }
}

@media (min-width: 900px) {
  .BlogPage {
    display: flex;
    align-items: center;
    margin-top: 12vh;
  }
  .postContainer {
    width: 55%;
  }
  .postContainer .cardContainerblog {
    justify-content: flex-start;
    overflow: scroll;
  }
  .postContainer .cardContainerblog .cards {
    width: 45%;
  }
  .postContainer .cardContainerblog .card-blog {
    width: 100%;
    height: 100%;
  }
  .card-blog p {
    font-size: 3rem;
    margin: 0;
  }

  .card-blog .deleteblog {
    display: flex;
    justify-content: space-around;
  }
  .card-blog .cardTextblogContainer {
    font-size: 3rem;
    margin: 0;
  }
  .card-blog h3 {
    font-size: 3rem;
    margin: 5px;
  }
  .card-blog button {
    font-size: 32px;
  }

  .lateralBar {
    position: absolute;
    right: 0;
    width: 30%;
    margin-top: 0;
  }
  .ctn {
    margin-top: 0;
  }
}

@media (min-width: 1920px) {
  .postContainer {
    width: initial;
    margin-right: 20%;
  }
  .postContainer .cardContainerblog .cards {
    width: 35%;
  }
  .postContainer .cardContainerblog .card-blog {
    width: 30%;
    height: 25rem;
  }
  .lateralBar {
    top: 25%;
    width: 25%;
  }
  .lateralBar .blogTitle {
    margin: 0;
  }
  .lateralBar .lateralContainer {
    margin-top: 60px;
  }
}
