.view {
  display: flex;
  justify-content: center;
}
.blogContainer {
  display: flex;
}
.blogView-sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blogCard {
  background-color: rgba(255, 255, 255, 0.2);
  width: 80%;
  color: white;
}

.blogImg {
  width: 90%;
}
.blogView .contact_ctn .arrow_up {
  position: fixed;
}
.contact_ctn .arrow_up {
  position: fixed;
}
@media (min-width: 375px) {
  .blogContainer {
    flex-wrap: wrap;
    width: 80%;
  }
  .blogCard {
    width: 100%;
  }
  .blogImg {
    width: 90%;
    margin: 15px;
  }
  .date-tagContainer {
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .date-tagContainer hr {
    width: 100%;
  }
  .date-tags {
    color: white;
    width: 100%;
  }

  .ctn .CTN_ctn {
    height: initial;
  }
  .ctn .CTN_ctn .CTN_title {
    margin: 25px 0 25px;
  }
  .ctn .CTN_ctn .CTN_ctn2 p {
    margin: 0;
  }
  .footer-blogView .footer_container {
    position: relative;
    z-index: 0;
  }
  .youtubePlayer iframe {
    width: auto;
    height: auto;
  }
}
@media (min-width: 900px) {
  .blogImg {
    margin: 50px;
  }
  .blogContainer {
    width: 80%;
  }
  .date-tagContainer {
    justify-content: flex-start;
    margin-left: 90px;
  }
  .lateralBar {
    position: initial;
    width: auto;
  }
  .youtubePlayer {
    display: flex;
    justify-content: center;
  }
  .youtubePlayer iframe {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1920px) {
  .blog-sidebar {
    display: flex;
  }
  .blogContainer {
    flex-wrap: nowrap;
    width: 65%;
  }
  .blogImg {
    width: 60%;
    display: block;
    margin: 0 auto;
  }
  .blogCard .blogText h2 {
    text-align: center;
    margin: 0;
    font-size: larger;
  }
  .youtubePlayer {
    height: 300px;
  }
  .youtubePlayer iframe {
    width: 600px;
    height: 300px;
  }
  .lateralBar {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 0 0 20px;
  }
}
