.blog .arrow_up {
  position: fixed;
}
.blog-sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.contact_button_ctn {
  position: fixed;
}
.BlogPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.blogTitle {
  text-align: center;
  margin-top: 120px;
  color: aqua;
}

.postContainer {
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.sidebar {
  width: 20%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainerblog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card-blog {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 320px;
  padding: 20px;
  justify-content: flex-start;
  cursor: pointer;
}

.card-blog .cardHeaderblog span {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}
.card-blog h2 {
  color: white;
  margin: 0 auto;
  font-size: 18px;
  width: 70%;
}
.card-blog .blogImage img {
  border-radius: 30% 0;
}
.card-blog .blogImage .image {
  height: 250px;
  padding: 25px;
}
.card-blog .blogImage .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 40px;
}
.card-blog .leerMas {
  color: #eb39d9;
  position: relative;
  font-weight: bold;
}

.titleblog {
  margin: 0;
}
.footer-blog .footer_container {
  position: relative;
  z-index: 0;
}
.image {
  overflow: hidden;
}
@media (min-width: 375px) {
  .postContainer {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .postContainer .cardContainerblog .card-blog {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
  }
  .card-blog .blogImage {
    display: flex;
    justify-content: center;
  }

  .card-blog .blogImage .title_news {
    font-size: 19px;
    text-align: center;
    width: 100%;
  }
  .card-blog .cardHeaderblog {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-blog .cardHeaderblog p {
    width: 60%;
    font-size: 18px;
  }
  .card-blog .cardHeaderblog .titleblog {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .card-blog .cardHeaderblog h2 {
    width: 60%;
  }
  .card-blog .blogImage img {
    width: 85%;
    height: 135px;
    margin: 15px;
  }
  .card-blog .blogImage .card_news {
    max-width: initial;
  }
  .card-blog .blogImage .arrow {
    width: 60px;
    height: 0;
    display: flex;
    margin: 0 170px;
  }
  .card-blog .blogImage .arrow img {
    width: 30px;
    height: 60px;
    margin: 0;
  }
  .card-blog .leerMas {
    position: initial;
    text-align: center;
  }

  .card-blog .cardTextblogContainer {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
  }
  .card-blog h3 {
    font-size: 15px;
  }
  .card-blog .viewButton {
    background: none;
    border: none;
    cursor: pointer;
    text-align: start;
  }
  .card-blog .blogImage .card_news .card_cont .card_f_news {
    width: 80%;
  }
  .ctn .CTN_ctn2 {
    margin: 0;
    height: 40vh;
  }
  .footer-blog {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .footer-blog .footer_container {
    position: relative;
  }
}

@media (min-width: 900px) {
  .BlogPage {
    display: flex;
    align-items: center;
    margin-top: 12vh;
  }
  .card-blog .blogImage img {
    width: 85%;
    height: 85%;
  }
  .card-blog .blogImage .arrow {
    width: 100px;
    height: 60px;
    position: absolute;
    margin-left: 130px;
  }
  .card-blog .leerMas {
    position: absolute;
    width: 48%;
    text-align: end;
    margin-top: 20px;
    font-size: 19px;
  }
  .card-blog h2 {
    width: 65%;
  }
  .card-blog .blogImage .arrow img {
    width: 50px;
  }
  .card-blog .blogImage .card_news .card_cont .card_f_news {
    width: 100%;
  }
  .postContainer .cardContainerblog {
    justify-content: flex-start;
    overflow: scroll;
  }
  .postContainer .cardContainerblog .cards {
    width: 45%;
  }
  .postContainer .cardContainerblog .card-blog {
    width: 45%;
    height: 50%;
  }
  .card-blog p {
    font-size: 18px;
    margin: 0;
    width: 80%;
  }

  .card-blog .deleteblog {
    display: flex;
    justify-content: space-around;
  }
  .card-blog .cardTextblogContainer {
    font-size: 3rem;
    margin: 0;
  }

  .card-blog button {
    font-size: 32px;
  }

  .lateralBar {
    position: absolute;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
  .ctn {
    margin-top: 0;
  }
  .ctn .CTN_ctn {
    height: initial;
  }
  .blog .footer-blog .footer_container {
    position: relative;
    z-index: 0;
  }
}

@media (min-width: 1920px) {
  .postContainer {
    width: 75%;
  }
  .blog-sidebar {
    flex-wrap: nowrap;
    justify-content: initial;
  }
  .postContainer .cardContainerblog {
    justify-content: flex-end;
  }
  .postContainer .cardContainerblog .card-blog {
    width: 30%;
  }

  .postContainer .card-blog .cardHeaderblog .titleblog {
    justify-content: flex-start;
  }
  .postContainer .card-blog .cardHeaderblog {
    margin-left: 10px;
    align-items: flex-start;
    width: 75%;
  }
  .card-blog .blogImage .card_news .card_cont .card_f_news {
    width: 300px;
  }
  .card-blog .blogImage .title_news {
    text-align: start;
  }
  .card-blog .blogImage h2 {
    margin: 0;
    width: auto;
  }
  .card-blog .blogImage .arrow {
    margin-left: 200px;
  }
  .card-blog .leerMas {
    width: 430px;
    font-size: 24px;
  }
  .postContainer .card-blog .cardHeaderblog p {
    width: 65%;
  }
  .postContainer .cardContainerblog .card-blog .blogImage {
    width: 75%;
    justify-content: flex-start;
  }
  .blog-sidebar .lateralBar {
    position: initial;
    margin: 0 50px;
    width: 30%;
    height: 100%;
  }
  .lateralBar .blogTitle {
    margin: 0;
  }
  .lateralBar .lateralContainer {
    margin-top: 60px;
  }
}
