.blog .arrow_up {
  position: fixed;
}
.blog-sidebar {
  display: flex;
  flex-wrap: wrap;
}
.contact_button_ctn {
  position: fixed;
}
.BlogPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.blogTitle {
  text-align: center;
  margin-top: 120px;
  color: aqua;
}

.postContainer {
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
}

.sidebar {
  width: 20%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainerblog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.card-blog {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 320px;
  padding: 20px;
}

.card-blog h2 {
  color: white;
  margin: 0;
}

.titleblog {
  text-align: center;
  margin: 0;
}
.footer-blog .footer_container {
  position: relative;
  z-index: 0;
}

@media (min-width: 375px) {
  .postContainer {
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .postContainer .cardContainerblog .card-blog {
    width: 130px;
    height: auto;
    padding: 0;
    margin-top: 10px;
  }
  .card-blog .blogImage {
    display: flex;
    justify-content: center;
  }
  .card-blog .blogImage img {
    width: 150px;
  }
  .card-blog .cardTextblogContainer {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.8);
  }
  .card-blog h3 {
    font-size: 15px;
  }
  .card-blog .viewButton {
    background: none;
    border: none;
    cursor: pointer;
  }

  .ctn .CTN_ctn2 {
    margin: 0;
  }
  .footer-blog {
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .footer-blog .footer_container {
    position: relative;
  }
}

@media (min-width: 900px) {
  .BlogPage {
    display: flex;
    align-items: center;
    margin-top: 12vh;
  }
  .card-blog .blogImage img {
    width: 70%;
  }

  .postContainer .cardContainerblog {
    justify-content: flex-start;
    overflow: scroll;
  }
  .postContainer .cardContainerblog .cards {
    width: 45%;
  }
  .postContainer .cardContainerblog .card-blog {
    width: 48%;
    height: 50%;
  }
  .card-blog p {
    font-size: 3rem;
    margin: 0;
  }

  .card-blog .deleteblog {
    display: flex;
    justify-content: space-around;
  }
  .card-blog .cardTextblogContainer {
    font-size: 3rem;
    margin: 0;
  }
  .card-blog h3 {
    font-size: 3rem;
    margin: 5px;
  }
  .card-blog button {
    font-size: 32px;
  }

  .lateralBar {
    position: absolute;
    right: 0;
    width: 30%;
    margin-top: 0;
  }
  .ctn {
    margin-top: 0;
  }
  .ctn .CTN_ctn {
    height: initial;
  }
  .blog .footer-blog .footer_container {
    position: relative;
    z-index: 0;
  }
}

@media (min-width: 1920px) {
  .blog-sidebar {
    flex-wrap: nowrap;
  }
  .postContainer .cardContainerblog .cards {
    width: 35%;
  }
  .postContainer .cardContainerblog .card-blog {
    width: 30%;
  }
  .blog-sidebar .lateralBar {
    position: initial;
    margin: 0 0 0 50px;
  }
  .lateralBar .blogTitle {
    margin: 0;
  }
  .lateralBar .lateralContainer {
    margin-top: 60px;
  }
}
