.blogContainer {
  display: flex;
}

.blogCard {
  background-color: rgba(86, 86, 86, 0.5);
  width: 80%;
  color: white;
}

.blogImg {
  width: 90%;
}
@media (min-width: 375px) {
  .blogCard {
    width: 100%;
  }
  .blogImg {
    width: 90%;
    margin: 15px;
  }
  .date-tagContainer {
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .date-tagContainer hr {
    width: 100%;
  }
  .date-tags {
    color: white;
    width: 100%;
  }

  .CTN_ctn .CTN_ctn2 {
    margin: 20px;
  }

  .footer-blogView .footer_container {
    position: relative;
  }
}
@media (min-width: 900px) {
  .blogImg {
    margin: 50px;
  }
  .date-tagContainer {
    justify-content: flex-start;
    margin-left: 90px;
  }
  .lateralBar {
    position: initial;
    width: auto;
  }
}
@media (min-width: 1920px) {
  .blogCard {
    width: 80%;
  }
  .lateralBar {
    position: absolute;
    top: 25%;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 20%;
  }
  .lateralBar .lateralContainer {
    font-size: 24px;
  }
}
