.view {
  display: flex;
  justify-content: center;
}

.blogView-sidebar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.blogTitle {
  text-align: center;
  color: aqua;
}

.mini-description,
.aditional-content {
  white-space: 'per-line';
}
.banner img {
  width: 450px;
  height: 200px;
  box-shadow: 8px 8px 10px black;
}

.blogCard {
  color: white;
  padding: 2rem;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
}

.blogImg {
  width: 30%;
}
.blogView .contact_ctn .arrow_up {
  position: fixed;
}
.contact_ctn .arrow_up {
  position: fixed;
}
.blogCard .blogText p {
  font-size: 16px;
}

.BlogView .banner {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 360px) {
  .banner img {
    width: 350px;
    height: 150px;
    box-shadow: 8px 8px 10px black;
    display: flex;
    margin: 0 auto 0 auto;
  }

  .blogTitle {
    margin-top: 175px;
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blogContainer {
    flex-wrap: wrap;
  }
  .blogCard {
    border-radius: 15px;
  }
  .blogImg {
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    border-radius: 15px;
  }
  .date-tagContainer {
    display: flex;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .date-tagContainer hr {
    width: 100%;
  }
  .date-tags {
    color: white;

    display: flex;
  }

  .ctn .CTN_ctn {
    height: initial;
  }
  .ctn .CTN_ctn .CTN_title {
    margin: 25px 0 25px;
  }
  .ctn .CTN_ctn .CTN_ctn2 p {
    margin: 0;
  }
  .footer-blogView .footer_container {
    position: relative;
    z-index: 0;
  }
  .blogCard .youtubePlayer {
    height: 200px;
  }
  .youtubePlayer iframe {
    width: 90%;
    height: auto;
  }
  .lateralBar {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (min-width: 900px) {
  .blogContainer {
    width: 40%;
    justify-content: center;
    margin: 0 auto 0 auto;
  }
  .blogImg {
    display: block;
    margin: 0 auto;
  }
  .blogCard .blogText h2 {
    text-align: center;
    margin: 0;
    font-size: larger;
  }
  .banner img {
    width: 450px;
    height: 200px;
    box-shadow: 8px 8px 10px black;
  }

  .blogCard .youtubePlayer {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
  }
  .youtubePlayer iframe {
    width: 716px;
    height: 300px;
  }
  .lateralBar {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (min-width: 1025px) {
  .blogContainer {
    width: 60%;
  }
  .banner img {
    width: 600px;
    height: 400px;
  }
  .youtube iframe {
    width: 800px;
    height: 300px;
  }
}
