.lateralBar {
  background-color: rgba(255, 255, 255, 0.2);
  width: 30%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  overflow: scroll;
}
.lateralBar .lateralContainer {
  color: white;
}

.lateralBar .lateralContainer p {
  font-size: 25px;
}
hr {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5px;
}
.lastBlogs {
  display: flex;
}
.lastBlogs .last {
  cursor: pointer;
}
.lastBlogs img {
  width: 200px;
}
.sb_blog_title {
  font-weight: bold;
}

.sb_blog_title a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
@media (min-width: 375px) {
  .lateralBar {
    position: initial;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    margin-top: 50px;
  }
  .lateralBar hr {
    width: 50%;
  }
  .lateralBar .blogTitle {
    margin: 15px 0;
  }
  .lateralBar .lateralContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .lateralBar .lateralContainer .card_our {
    max-width: 150px;
    height: 150px;
  }

  .lateralBar .lateralContainer .card_our .card_btn .button_portfolio {
    position: initial;
  }
}

@media (min-width: 900px) {
  .lateralBar .lateralContainer {
    padding: 5px;
  }
  .lateralBar .lateralContainer .card_our {
    max-width: 250px;
    height: 250px;
  }
}

@media (win-width: 1920px) {
  .lateralBar {
    top: 15%;
  }
}
