.res_ctn {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}
.res_title {
  color: #3af6ff;
  display: flex;
  text-align: left;
  margin: 0 15% 0 7%;
}
.res_card {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 90px;
  margin-left: 90px;
}
.btn_news {
  text-decoration: none;
}
@media (max-width: 1300px) {
  .card_ctn {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-height: 600px) {
  .res_items {
    margin-top: 150px;
  }
}
