.onboarding {
  align-items: center;
  overflow: hidden;
  margin-left: 7%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.onb_items {
  display: flex;
  flex-direction: row;
}
.onboarding .logoOnboard {
  display: none;
}

.onboarding .parrafo {
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
.onboarding .parrafo p {
  text-align: justify;
  margin-right: 7%;
  margin-bottom: 0;
}

.onboarding h1 {
  color: #eb39d9;

  margin-bottom: 0;
}

.onboarding h2 {
  color: #3af6ff;
}

.contactFlex {
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
  position: relative;
  bottom: 40vh;
}

.contact-btn {
  background-image: linear-gradient(
    rgba(58, 246, 255, 0.2) 30%,
    rgba(185, 4, 139, 0.2) 60%
  );
  border-radius: 50px;
  width: 15rem;
  height: 6vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact-btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

@media (min-width: 900px) {
  .onboarding .logoOnboard {
    display: block;
    position: relative;
    margin-left: 150px;
    max-width: 35%;
  }

  .onboarding .parrafo {
    position: static;
    z-index: initial;
  }

  .onboarding .parrafo h1 {
    margin-bottom: 0;
  }
  .onboarding .parrafo p {
    margin-bottom: 0;
  }
}

@media (max-width: 360px) {
  .onboarding .parrafo h1 {
    margin-bottom: 0;
  }
}

@media (max-width: 900px) {
  .onboarding {
    transform: translateY(-60%);
    align-items: center;
    overflow: hidden;
    margin-left: 7%;
  }
  .onb_items {
    display: flex;
    margin-top: 30px;
  }
  .onboarding .logoOnboard {
    display: none;
  }

  .onboarding .parrafo {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
  }
  .onboarding .parrafo p {
    text-align: justify;
    margin-right: 7%;
    margin-bottom: 0;
  }

  .onboarding h1 {
    color: #eb39d9;

    margin-bottom: 0;
  }

  .onboarding h2 {
    color: #3af6ff;
  }

  .contactFlex {
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    position: relative;
    bottom: 40vh;
  }

  .contact-btn {
    background-image: linear-gradient(
      rgba(58, 246, 255, 0.2) 30%,
      rgba(185, 4, 139, 0.2) 60%
    );
    border-radius: 50px;
    width: 15rem;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .contact-btn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  @media (max-width: 767px) {
    .onboarding {
      transform: translateY(-70%);
    }
  }
}
