.onboarding {
  display: flex;
  overflow: hidden;
  height: 100%;
  margin: 0 0 0% 7%;
}

.onboarding .logoCalu {
  display: none;
}

.onboarding .parrafo {
  color: white;
  position: relative;
  z-index: 2;
  min-width: 100%;
  padding-top: 200px;
}

.onboarding .parrafo h1 {
  color: #eb39d9;
}

.onboarding .parrafo h2 {
  color: #3af6ff;
}

.contactFlex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5%;
  position: relative;
  bottom: 40vh;
}

.contact-btn {
  background-image: linear-gradient(
    rgba(58, 246, 255, 0.2) 30%,
    rgba(185, 4, 139, 0.2) 60%
  );
  border-radius: 3rem 0 3rem 0;
  width: 15rem;
  height: 6vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact-btn a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

@media (min-width: 900px) {
  .onboarding .logoCalu {
    display: block;
    position: relative;
    margin-top: 90px;
    right: 0;
    max-width: 54%;
    height: 70%;
  }

  .contact-btn {
    bottom: 40px;
  }

  .onboarding {
    height: 100%;
    align-items: flex-start;
    justify-content: center;
  }

  .onboarding .parrafo {
    position: static;
    z-index: initial;
    min-width: initial;
  }

  .contactFlex {
    position: relative;
    height: 8%;
  }

  .contactFlex .btn-contact {
    background: linear-gradient(
      rgba(58, 246, 255, 0.3) 30%,
      rgba(185, 4, 139, 0.3) 60%
    );
    border-radius: 40% 0 40% 0;
    width: 15%;
    height: 75%;
  }
}
