@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

@font-face {
  font-family: "Archive";
  src: url("./Archive-Regular.ttf");
}
html {
  scrollbar-color: rgb(95, 84, 255) rgba(5, 0, 75, 0.87);
}
body {
  font-family: "Montserrat", sans-serif;
}

section {
  margin-top: 200px;
}

iframe[src^="https://www.google.com/recaptcha/"]
{
  display: none;
}

.grecaptcha-badge {
  display: none !important;
}
/* Estilos para dispositivos móviles */
/*@media only screen and (max-height: 600px) {
  h1 {
    margin-top: 150px;
  }
}*/

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 24px;
    font-family: "Archive", Arial, sans-serif;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  section {
    margin-top: 20px;
    margin-bottom: 150px;
  }
}

@media only screen and (max-width: 390px) {
  h1 {
    font-size: 24px;
    font-family: "Archive", Arial, sans-serif;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}
/* Estilos para tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 30px;
    font-family: "Archive", Arial, sans-serif;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  section {
    margin-top: 20px;
    margin-bottom: 150px;
  }
}

/* Estilos para escritorio */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 32px;
    font-family: "Archive", Arial, sans-serif;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
}
.contenedor {
  margin: 2rem auto;
  border: 1px solid #aaa;
  height: 300px;
  width: 90%;
  max-width: 400px;
  background: #f1f2f3;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 1rem;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 20px;
  background-color: rgb(95, 84, 255);
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(5, 0, 75, 0.87);
  border-radius: 20px;
}
