@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

@font-face {
  font-family: "Archive";
  src: url("./Archive-Regular.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
}

section {
  background: linear-gradient(transparent, rgba(4, 25, 88, 0.6) 30%) top,
    linear-gradient(rgba(4, 25, 88, 0.6) 70%, transparent) bottom,
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) top,
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) bottom;
  background-size: 100% 48%, 100% 52%, 100% calc(50% - 5px),
    100% calc(50% - 5px), 100% 100%;
  background-repeat: no-repeat;
  backdrop-filter: blur(1px);
  min-height: 800px;
  margin-top: 100px;
}

iframe[src^="https://www.google.com/recaptcha/"]
{
  display: none;
}

.grecaptcha-badge {
  display: none !important;
}
/* Estilos para dispositivos móviles */
/*@media only screen and (max-height: 600px) {
  h1 {
    margin-top: 150px;
  }
}*/

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 24px;
    font-family: "Archive", Arial, sans-serif;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
  section {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 390px) {
  h1 {
    font-size: 24px;
    font-family: "Archive", Arial, sans-serif;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}
/* Estilos para tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 30px;
    font-family: "Archive", Arial, sans-serif;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  section {
    margin-top: 20px;
  }
}

/* Estilos para escritorio */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 32px;
    font-family: "Archive", Arial, sans-serif;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
}
.contenedor {
  margin: 2rem auto;
  border: 1px solid #aaa;
  height: 300px;
  width: 90%;
  max-width: 400px;
  background: #f1f2f3;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 1rem;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 20px;
  background-color: rgba(153, 0, 153, 0.116);
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(10, 4, 88, 0.61);
  border-radius: 20px;
}
