@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


body{
    font-family: 'Montserrat', sans-serif;
}

section {
    margin: 0;
    background: linear-gradient(transparent, rgba(4, 25, 88, 0.6) 40%) top,
                linear-gradient(rgba(4, 25, 88, 0.6) 80%, transparent) bottom,
                linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) top,
                linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) bottom;
               
    background-size: 100% 50%, 100% 50%, 100% calc(50% - 5px), 100% calc(50% - 5px), 100% 100%;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
  }
  


