.contact_button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 50px 20px 0;
  z-index: 99;
  cursor: pointer;
}

.contact_logo {
  width: 100px;
}

@media (max-width: 767px) {
  .contact_logo {
    width: 60px;
  }
  .contact_button {
    margin: 0 20px 50px 0;
  }
}
